@model TN218.Models.KhachHang
@{
    ViewData["Title"] = "Thông tin khách hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="product-area section pt-4">
    <div class="container col-7">
        <div class="row">
            <div class="col-12">
                <div class="section-title p-0">
                    <h2>Thông tin khách hàng</h2>
                </div>
            </div>
            <div class="col-md-8 col-12 mx-auto">
                <div class="card">
                    <div class="card-body p-2">
                        <table class="table v-middle table-hover">
                            <tr>
                                <th>Tên khách hàng</th>
                                <td>@Model.HoKhachHang @Model.TenKhachHang</td>
                            </tr>
                            <tr>
                                <th>Ngày sinh</th>
                                <td>@Model.NgaySinh</td>
                            </tr>
                            <tr>
                                <th>Giới tính</th>
                                <td>@Model.GioiTinh</td>
                            </tr>
                            <tr>
                                <th>Số điện thoại</th>
                                <td>@Model.SoDienThoai</td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>@Model.Email</td>
                            </tr>
                            <tr>
                                <th>Địa chỉ</th>
                                <td>@Model.DiaChi</td>
                            </tr>
                        </table>
                    </div>
                    <div class="mx-auto">
                        <div class="btn btn-success btn-sm mx-auto"><a href="/Home/Index">Về trang chủ</a></div>
                        <div class="btn btn-success btn-sm mx-auto"><a href="/Receipt/List">Lịch sử thanh toán</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@{
    List<TN218.Models.SanPham> list_sp = ViewData["hot_items"] as List<TN218.Models.SanPham>;
}
<partial name="_Hot_Items" model="list_sp" />